#exambel og ignore nested file
FrontendAngular/init.txt

#exambel og ignore nested file
FrontendAngular/folder

# -------------------------
#       BackendRuby ignore
# -------------------------

 


# ------------------------------
#       FrontendAndroid ignore
# ------------------------------




# ------------------------------
#       FrontendAngular ignore
# ------------------------------

