#exambel og ignore nested file
FrontendAngular/init.txt

#exambel og ignore nested file
FrontendAngular/folder

# -------------------------
#       BackendRuby ignore
# -------------------------

 


# ------------------------------
#       FrontendAndroid ignore
# ------------------------------




# ------------------------------
#       FrontendAngular ignore
# ------------------------------
# ignore node_modules
FrontendAngular/node_modules/
# ignore compilled files
FrontendAngular/*/*.js
FrontendAngular/*/*.map

