
.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 120px;
  margin: 1rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.post-content {
    height:40px;
}
.post-header span {
    display: block;
}
.divider{
    width: calc(100% - 30px);
    height: 1px;
    background: #e0e0e0;
    display: block;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    margin: 1px 15px;
}

.like-icon {
    background: #9d9d9d;
    width: 19px;
    height: 19px;
    display: inline-block;
    background-size: contain;
    -webkit-mask: url('resources/img/icons/ic_favorite_black_24px.svg');
    -webkit-mask-size: contain;
    cursor: pointer;
}
.like-icon.active {
    background: #ffca3b;
}

.avatar_url img {
    width: 45px;
    max-height: 45px;
    border-radius: 1000px;
}

.post  .avatar_url {
    position: absolute;
    padding-top: 5px;
}
.post .information {
    padding-left: 65px;
    display: block;
    padding-top: 5px;
}

.post .name {
    color: #404040;
}
