  <!--Start Post Card-->
    <div class="card">
          <span class="logo">
              <img src="resources/img/icons/LOGO.png"/>
          </span>

            <input placeholder="Email" type="email" required=""  [(ngModel)]="user.email">
            <input placeholder="Password" type="password" required=""  [(ngModel)]="user.password">
            <button (click)="login()">Login</button>
           
            <span class="center-me"> 
              <a [routerLink]="['Signup']" > Create New Account  </a>
            </span>
    </div>
    <!--End Post Card-->

